
/*------tablet------*/
@media (min-width: 576px) and (max-width: 991px)  {
    body{
        background-color: rgb(0, 0, 0);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 10px;
    }
    @font-face {
        font-family: "chinese";
        src: url("./fuente/chinese.ttf")
        format('truetype');
    }
    p{
        font-family: 'Hubballi', cursive;
    }
    /*navbar*/

nav{
    width: 100%;
}
.container-fluid{
    width: 100%;
    
}
.navbar-brand{
    display: flex;
    width: 40%;
}
.logo{
    width: 100vw;
    height: 25vh;
}
.navbar-toggler{
    background-color: white;
    color: rgb(255, 0, 0);
}
.navbar-toggler-icon{
    
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    

}
.navbar-nav a{
    font-size: 1.8em;
    color: white;
}
.navbar-nav a:hover{
    transform: scale(1);
    color: brown;
}


/*carousel*/
.slide{
    width: 100%;
}

.carousel-inner{
    width: 100%;
}

.carousel-item{
    
    width: 100%;
    height: 70%;
    left: 0%;
    
}
.carousel-item img{
    width: 10vw;
    height: 40vh;

}
    /*navbar*/

    
    
    /*header
    header{
        display: flex;
        width: 100%;
        height: 0%;
        
        

    }
    .argentina{
        width: 60vw;
        height: 25vh;
    }
    .historia{
        width: 95vw;
        height: 60vh;
        margin: 0%;
        padding: 0%;
   
    }
    /*nav
    nav{
    
        box-sizing: border-box;
        width: 99%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0%;
        flex-wrap: wrap;
        flex-direction: column;
    
    }
    .navcontainer{
        display: flex;
        width: 100%;
        margin: 0%;
        padding: 0%;
        flex-wrap: wrap;
        justify-content: center;

       
    }
    
    nav a{
      
      
        box-sizing: border-box;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(255, 0, 0);
        width: 65%;
        font-size: 2.8em;
        padding: 1%;
        margin: 1%;
    }
    nav a:hover{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        transform: scale(1);
        box-sizing: border-box;
        border-bottom: 4px rgb(0, 0, 0) solid;
        transition: 0.3s;
      
    }
   
    
/*titulo*/
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    
    box-sizing: border-box;
}
#titulo h1{
    text-align: center;
    font-size: 8em;
    text-decoration: underline;
    text-decoration-color: yellow;
    color: rgb(186, 167, 167);
    text-shadow: black 4px 4px 10px ;
    font-family: "chinese";
}
#titulo h1:hover{
    transform: scale(1);
    transition: 0.0s;
}
#titulo .image1{
    width: 70vw;
    height: 30vh;
}
#titulo .image1:hover{
    transform: scale(1);
}


/*main*/

    main{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        width: 100%;
        background-color: transparent;
        border: 0px transparent solid;
        
    
}
/*section*/



    section{
        box-sizing: border-box;
        background-color: transparent;
        border: 0px transparent solid;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: 0%;
        
    }

    section .origen{
        color: rgb(229, 255, 0);
        text-decoration-color: rgb(110, 249, 24);
        text-shadow: black 2px 2px 10px;
        text-decoration:  underline;
        display: flex;
        justify-content: center;
        font-family: 'Shrikhand', cursive;
        font-size: 5em;
        margin-top: 0%;
        width: 100%;
   
   
    }
    
    section p{
        display: flex;
        text-align: center; 
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
        font-size: 2.6em;
        width: 95%;
        padding: 0%;
        box-sizing: border-box;
   
    }

    section .image2{
        
        margin-left: 10%;
        width: 70vw;
        height: 40vh;
    
    }
    .epi{
        width: 60%;
        color: gray;
        margin-left: 10%;
    }

   
    .iframe2{
    
        margin-left: 10%;
        width: 70vw;
        height: 40vh;
    
    }
    .audio{
        margin-left: 10%;
        margin-top: 0%;
        width: 50vw;
        height: 25vh;
   
    }
    .iframe1{
        margin-left: 10%;
        width: 70vw;
        height: 40vh;
   
}

/*aside*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: 0px transparent solid;
}

aside h4{
    color: rgb(149, 246, 246);
    text-decoration-color: rgb(255, 255, 255);
    font-size: 1.8em;
    
}


aside h3{
    color: rgb(255, 244, 97);
    text-decoration-color: rgb(255, 255, 255);
    font-size: 2.7em;
    margin-left: 7%;
    text-align:  center;
    width: 100%;
    
}
aside h2{
    color: rgb(157, 235, 162);
    text-decoration-color: rgb(255, 255, 255);
    font-size: 2.9em;
    margin-left: 7%;
    width: 100%;
    text-align: center;
    
   
}
aside p{
        display: flex;
        text-align: center; 
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
        font-size: 2.6em;
        width: 100%;
        padding: 0%;
        box-sizing: border-box;
        margin-left: 5%;
}
aside ul{
    color: moccasin;
    text-align: left;
    font-size: 1.8em;
    width: 100%;
   
}
aside ol{
    color: moccasin;
    text-align: left;
    font-size: 1.8em;
    width: 100%;
    
}
.patrocinador{
    display: flex;
    background-color: transparent;
    justify-content: center;
    flex-direction: column;
    margin-left: 11%;
    padding: 2%;
    width: 100%;
}
.patrocinador img{
    width: 70vw;
    height: 10vh;
}
.row{
    width: 100%;
}
.card{
    border: yellow 3px solid;
    box-sizing: border-box;
    margin: 0%;
    width: 100%;
}
    
        .aleman{
            width: 100%;
            height: 99%;
        }
        .tiramisu{
            width: 100%;
            height: 99%;
        }
        .lemon{
            width: 100%;
            height: 99%;
        }
        .cheesecake{
            width: 100%;
            height: 99%;
        }

        .card-title{
            color: rgb(26, 58, 243);
            font-size: 1.8em;
        }
        .card-text{
            color: rgb(243, 13, 13);
            font-size: 1.6em;
        }

        
/*footer*/
footer{
    
    display: flex;
    justify-content: center;
    
    align-items: center;
   
    justify-items: auto;
    flex-direction: row;
    width: 100%;
   
}
.face{
    width: 7vw;
    height: 7vh;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
}
.face:hover{
    transform: scale(1.1);
    transition: 0.6s;
    background-color: aqua;
}

.twitter{
    width: 7vw;
    height: 7vh;
    border-radius: 50%;
    background-color: white;
    margin: 20px;
}
.twitter:hover{
    transform: scale(1.1);
    transition: 0.6s;
    background-color: transparent; 
}

.insta{
    width: 7vw;
    height: 7vh;
    border-radius: 50%;
    background-color: white;
    margin: 25px;
}
.insta:hover{
    transform: scale(1.1);
    transition: 0.6s;
    background-color: aqua;
}
.container-boton{
    background-color: #383938;
    
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 7%;
    right: 10%;
    padding: 15px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 8vw;
    transition: ease 1s;
}
.flecha{
    position: fixed;
    bottom: 20px;
    left: 25px;
    border: 3px white solid;
    width: 6vw;
    height: 6vh;
    border-radius: 50%;
    background-color: white;
    margin: 25px;
}
.flecha:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
    
/*contacto*/
.navcontainercontacto{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    padding: 2%;
}
.pag2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent; 
    width: 50%;
    color: white;
    font-size: 2em;
    
}

form{
    background-color: transparent;
   margin-left: 263%;
    width: 15%;
    
}
.formulario{
   text-align: center;
   
}
form .xx{
    text-align: center;
    width: 150%;
    height: 25%;
    font-size: 0.5em;
}
form .xx:hover{
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom: 4px green solid;
}

}