
/*----computer----*/

@media (min-width: 992px) {
    body{
    
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: normal;
        background-attachment: fixed;
        
        background: rgb(42, 35, 49);
        font-size: 10px;
        width: 100%;
      
    }
    @font-face {
        font-family: "chinese";
        src: url("./fuente/chinese.ttf")
        format('truetype');
    }
    p{
        font-family: 'Hubballi', cursive;
    }

    /*navbar*/
    
    .navbar{
        background-color: rgb(88, 57, 57);
    }
    
    .logo{
        width: 25vw;
        height: 25vh;
    }
    .navbar-toggler{
        display: none;
    }
    
    
    .navbar-nav{
        
        display: flex;
        justify-content: space-between;
        margin-right: 2%;
        
    
    }
    .navbar-nav a{
        font-size: 2.4em;
        color: white;
        flex-direction: column;
    }
    .navbar-nav a:hover{
        border-bottom: brown 2px solid;
        color: white;
        transition: 0.5s;
    }

    /*Modo Oscuro*/

    .oscuro{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
       
    }
    
    #modooscuro{
        
        background-color: rgba(0, 0, 0, 0.717);
        color: rgb(252, 252, 252);
        border: red 3px solid;
        font-size: 2em;
        width: 10%;
        height: 6%;
        border-radius: 10%;
        position: fixed;
        z-index: 999;
        
    }
    #modooscuro:hover{
        border: white 3px solid;
        color: rgb(255, 0, 0);
        
    }


    /*carousel*/
    .carousel-inner{
        margin-top: 1%;
        width: 100%;
    }
    .carousel-item{
    
        width: 100%;
        height: 50vh;
        left: 0%;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
    }
    
    
  
    /*titulo*/
    #titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 99%;
        
        box-sizing: border-box;
    }
    #titulo h1{
        font-size: 12em;
        text-decoration: underline;
        text-decoration-color: rgb(130, 120, 120);
        color: rgb(255, 255, 255);
        text-shadow: black 4px 4px 20px ;
        font-family: "chinese";
    }
    #titulo h1:hover{
        transform: scale(1);
        transition: 0.4s;
    }
    #titulo .image1{
        width: 99vw;
        height: 60vh;
    }
    #titulo .image1:hover{
        transform: scale(1);
    }
    
    /*main*/
    
    main{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        width: 100%;
        
        border-top: none;
        margin: 0%;
    }
    /*section*/
    
    
    
    section{
        box-sizing: border-box;
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-self: flex-start;
        flex-wrap: wrap;
        width: 100%;
        
        
        border-right: none;
        font-size: 15px;
    }
    
    section .origen{
        color: rgb(15, 255, 15);
        text-decoration-color: rgb(23, 239, 23);
        text-decoration:  underline;
        display: flex;
        justify-content: center;
        font-family: 'Shrikhand', cursive;
        font-size: 5em;
        margin-top: 0%;
        width: 100%;
       
       
    }
    section .origen:hover{
        transform: scale(1);
    }
    section p{
        display: flex;
        text-align: center; 
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        flex-wrap: wrap;
        color: rgb(255, 255, 255);
        font-size: 2em;
        width: 100%;
       
       
    }
    .epi{
        margin-left: 3%;
        color: grey;
    }
    
    section .image2{
        text-align: center;
        margin-left: 2%;
        width: 90vw;
        height: 90vh;
        
    }
    .multimedia{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    
    section .image2:hover{
        transform: scale(1);
    }
    .iframe2{
        margin-left: 2%;
        width: 35vw;
        height: 30vh;
        
    }
    .audio{
        margin-left: 2%;
        width: 30vw;
        height: 25vh;
        margin-top: 0%;
    }
    .iframe1{
        width: 35vw;
        height: 30vh;
        margin-left: 2%;
    }
    
    /*aside*/
    aside{
        box-sizing: border-box;
        background-color: transparent;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items:flex-start;
        
        flex-wrap: wrap;
        width: 100%;
       
        
        
        font-size: 15px;
    }
    
    aside h4{
        color: rgb(55, 133, 32);
        
        font-size: 1.6em;
        text-decoration: underline;
    }
    
    
    aside h3{
        color: rgb(255, 0, 0);
        font-size: 1.8em;
        text-decoration: underline;
        text-align:  center;
        margin-left: 10%;
        
    }
    aside h2{
        color: rgb(255, 206, 10);
        font-size: 2.2em;
        text-decoration: underline;
        text-align:  center;
        margin-left: 38%;
        box-sizing: border-box;
    }
    aside p{
        color: rosybrown;
        text-align: center;
        font-size: 1.5em;
        margin-left: 10%;
        
    }
    aside ul, ol {
        color: white;
        text-align: left;
        font-size: 1.3em;
       
    }
    .patrocinador{
        display: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 10%;
        padding: 2%;
    }
    .patrocinador img{
        display: none;
        width: 70vw;
        height: 10vh;
    }
    .card{
        border: yellow 3px solid;
        
    }
        
            .aleman{
                width: 99%;
                height: 99%;
                
            }
            .tiramisu{
                width: 99%;
                height: 99%;
            }
            .lemon{
                width: 99%;
                height: 99%;
            }
            .cheesecake{
                width: 99%;
                height: 99%;
            }
    
            .card-title{
                color: rgb(26, 58, 243);
                font-size: 1.8em;
            }
            .card-text{
                color: rgb(243, 13, 13);
                font-size: 1.6em;
            }
    
    /*footer*/


    footer{
        
        display: flex;
        justify-content: center;
        
        align-items: center;
        flex-wrap: wrap;
        justify-items: auto;
        flex-direction: row;
        width: 99%;
       
    }

    .containerdevelouper{
        background-color: black;
        border: 2px solid white;
        text-align: center;
        width: 12%;
        height: 20%;
    
    }
    .containerdevelouper:hover{
        border: 2px solid blue;
    
    }
    #develouper{
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    }
    #develouper:hover{
        color: red;
    }

    .face{
        width: 6vw;
        height: 10vh;
        border-radius: 50%;
        background-color: white;
        margin: 20px;
    }
    .face:hover{
        transform: scale(1.1);
        transition: 0.6s;
    }
    
    .twitter{
        width: 6vw;
        height: 10vh;
        border-radius: 50%;
        background-color: white;
        margin: 20px;
    }
    .twitter:hover{
        transform: scale(1.1);
        transition: 0.6s;
    }
    
    .insta{
        width: 6vw;
        height: 10vh;
        border-radius: 50%;
        background-color: white;
        margin: 25px;
    }
    .insta:hover{
        transform: scale(1.1);
        transition: 0.6s;
    }
    
    .container-boton{
        background-color: #383938;
        
        position: fixed;
        z-index: 999;
        border-radius: 50%;
        bottom: 20px;
        right: 25px;
        padding: 15px;
        transition: ease 0.3s;
        animation: efecto 1.2s infinite;
    }
    
    .container-boton:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    
    .boton{
        width: 4vw;
        transition: ease 1s;
    }
    .flecha{
        position: fixed;
        bottom: 20px;
        left: 25px;
        border: 3px white solid;
        width: 5vw;
        height: 7vh;
        border-radius: 50%;
        background-color: white;
        margin: 25px;
    }
    .flecha:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
    @keyframes efecto{
        0%{
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
        }
        100%{
            box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
        }
    }
        
    /*contacto*/
    
    .pag2{
        width: 50%;
        background-color: rgba(192, 197, 197, 0.516);
        margin-left: 25%;
    }

    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        
    }
    form .xx{
        background-color: red;
        color: white;
        border-radius: 5%;
    }
    form .xx:hover{
        background-color: black;
    }
    
}